.idea
/homeworks/homework_2/null
/homeworks/homework_3/null
/homeworks/homework_4/null
/homeworks/homework_5/null
/homeworks/homework_5/target
/homeworks/homework_5/project/target
/homeworks/homework_6/null